.float {
    float: left;
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke: black;
    stroke-width: 1.5px;
}

text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}

svg {
    display: block;
    width: 100%;
    margin: 0 auto;
}


body {
    margin: 0.5em;
    background: #fefefa;
}

input[type="text"], select {
    border-radius: 6px;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 300px;
    
}

button {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

.overlay{
    opacity:0.8;
    background-color:#555;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adjustable {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 650px) {
    .adjustable {
        display: block;
        margin: auto;
    }

    .lfloat {
        float: left;
    }

    .rfloat {
        float: right;
    }
}

@media only screen and (min-width: 850px) {
    .adjustable {
        width: 80%;
    }
}

@media only screen and (min-width: 1250px) {
    .adjustable {
        width: 50%;
    }
}

.path-active{
    stroke: 'yellow';
    fill: 'yellow';
}

.tooltip {
    background-color: #fefefe;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: black;
    color: black;
}


select{ 
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=) no-repeat 95% 50%;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    width: 225px;
}